footer {
  background-color: #333;
  color: #fff;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.footer_section {
  flex: 1;
  margin: 0 20px;
  text-align: left; /* Выравниваем текст по левому краю */
}

.footer_section h3 {
  margin-bottom: 10px;
}

.footer_section p {
  margin: 5px 0;
  display: flex; /* Добавляем flex для выравнивания иконок и текста */
  align-items: center;
}

.footer_section p svg {
  margin-right: 10px; /* Отступ между иконкой и текстом */
}

.footer_socials {
  display: flex;
  gap: 10px;
}

.footer_socials a {
  color: #fff;
  font-size: 24px;
}

.footer_socials a:hover {
  color: #aaa;
}

footer p {
  margin: 10px 0 0;
  text-align: center;
}
